
# ==============================================================================
# SETTINGS
# ==============================================================================
start-at-login = true
after-startup-command = [
	#'exec-and-forget borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0'
	'exec-and-forget borders active_color=0xff6060b0 inactive_color=0xff000010 width=10.0'
]

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
on-focus-changed = ['move-mouse window-lazy-center']

# https://nikitabobko.github.io/AeroSpace/goodness#show-aerospace-workspaces-in-sketchybar
exec-on-workspace-change = ['/bin/bash', '-c',
	'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

# Move window by holding Cmd+Ctrl
#defaults write -g NSWindowShouldDragOnGesture -bool true

# Accordion padding size, use 0 to disable
accordion-padding = 0


# ==============================================================================
# GAPS
# ==============================================================================
[gaps]
inner.horizontal = 10
inner.vertical   = 10
outer.left       = 10
outer.bottom     = 10
outer.top        = [{ monitor."built-in" = 0 }, 32]
outer.right      = 10


# ==============================================================================
# APPS
# ==============================================================================
[[on-window-detected]]
if.app-name-regex-substring = 'finder'
run = 'layout floating'

[[on-window-detected]]
if.app-name-regex-substring = 'zoom.us'
run = 'move-node-to-workspace 2'


# ==============================================================================
# KEYS
# ==============================================================================
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
#                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
#                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
#                   sectionSign (ISO keyboards only, european keyboards only)
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right


# ==============================================================================
# MAIN
# ==============================================================================
[mode.main.binding]

# Remove mapping to hide windows
cmd-h = []

cmd-alt-r = 'reload-config'

# Navigate displays
# focus-monitor [--wrap-around] (left|down|up|right)
# focus-monitor [--wrap-around] (next|prev)
# focus-monitor <monitor-pattern>...
shift-cmd-alt-h = 'focus-monitor left'
shift-cmd-alt-l = 'focus-monitor right'

# Navigate workspaces
# workspace [--auto-back-and-forth] [--fail-if-noop] <workspace-name>
# workspace [--wrap-around] (next|prev)
shift-cmd-alt-j = 'workspace next'
shift-cmd-alt-k = 'workspace prev'

# Navigate windows
# focus [--ignore-floating]
#       [--boundaries <boundary>] [--boundaries-action <action>]
#       (left|down|up|right)
# focus --window-id <window-id>
# focus --dfs-index <dfs-index>
cmd-alt-h = 'focus left'
cmd-alt-j = 'focus down'
cmd-alt-k = 'focus up'
cmd-alt-l = 'focus right'

# Move workspaces
# move-workspace-to-monitor <workspace>] [--wrap-around] (left|down|up|right)
# move-workspace-to-monitor [--workspace <workspace>] [--wrap-around] (next|prev)
# move-workspace-to-monitor [--workspace <workspace>] <monitor-pattern>...
shift-cmd-alt-right = 'move-workspace-to-monitor right'
shift-cmd-alt-left  = 'move-workspace-to-monitor left'

# Move windows
# move-node-to-workspace [--focus-follows-window] [--wrap-around]
#                        (next|prev)
# move-node-to-workspace [--focus-follows-window] [--fail-if-noop]
#                        [--window-id <window-id>] <workspace-name>
shift-cmd-alt-down = 'move-node-to-workspace next'
shift-cmd-alt-up   = 'move-node-to-workspace prev'

# Move windows
# move [--window-id <window-id>] (left|down|up|right)
# https://github.com/nikitabobko/AeroSpace/issues/183
cmd-alt-left  = 'move left --boundaries all-monitors-outer-frame'
cmd-alt-right = 'move right --boundaries all-monitors-outer-frame'
cmd-alt-down  = 'move down'
cmd-alt-up    = 'move up'

# fullscreen [--window-id <window-id>] [--no-outer-gaps]
# fullscreen on  [--window-id <window-id>] [--no-outer-gaps] [--fail-if-noop]
# fullscreen off [--window-id <window-id>] [--fail-if-noop]
cmd-alt-f = 'fullscreen'

# resize [--window-id <window-id>] (smart|smart-opposite|width|height) [+|-]<number>
cmd-alt-equal = 'resize smart +50'
cmd-alt-minus = 'resize smart -50'

# Layout
cmd-alt-t = 'layout floating tiling'
shift-cmd-alt-comma  = 'layout tiles horizontal vertical'
shift-cmd-alt-period = 'layout accordion horizontal vertical'

# Join
cmd-alt-comma  = 'join-with left'
cmd-alt-period = 'join-with right'

# Screenshot
#ctrl-s = 'exec-and-forget mac-ss'
ctrl-s = "exec-and-forget /Users/tyamakawa/bin/mac-ss"

# Workspaces
cmd-alt-1 = 'workspace 1'
cmd-alt-2 = 'workspace 2'
cmd-alt-3 = 'workspace 3'
cmd-alt-4 = 'workspace 4'
cmd-alt-5 = 'workspace 5'
cmd-alt-6 = 'workspace 6'
cmd-alt-7 = 'workspace 7'
cmd-alt-8 = 'workspace 8'
cmd-alt-9 = 'workspace 9'


# cmd-alt-semicolon = 'mode workspace'
# 
# 
# # ==============================================================================
# # WORKSPACES
# # ==============================================================================
# [mode.workspace.binding]
# 1 = ['workspace 1', 'mode main']
# 2 = ['workspace 2', 'mode main']
# 3 = ['workspace 3', 'mode main']
# 4 = ['workspace 4', 'mode main']
# 5 = ['workspace 5', 'mode main']
# 6 = ['workspace 6', 'mode main']
# 7 = ['workspace 7', 'mode main']
# 8 = ['workspace 8', 'mode main']
# 9 = ['workspace 9', 'mode main']
# 
# 


